.footer {
	background: $color-bluegrey;
	padding-top: 3rem;
	color: white;

	&--container {
		width: 100%;
	}

	&--row {
		width: 100%;
		padding-bottom: 2rem;
		@include breakpoint($md) {
			display: flex;
			justify-content: space-between;
		}
	}

	&--copyright {
		@include breakpoint($md) {
			width: 32%;
		}
	}

	&--eeo {
		margin-top: 2rem;
		@include breakpoint($md) {
			align-items: flex-start;
			width: 67%;
			margin-top: 0;
			text-align: right;
		}
	}

	&--links {
		@include breakpoint($md) {
			align-items: flex-start;
			width: 67%;
		}
		a {
			font-weight: $font-weight-bold;
		}
	}

	&--social {
		margin-top: 2rem;
		@include breakpoint($md) {
			align-items: flex-start;
			width: 67%;
			margin-top: 0;
			text-align: right;
		}
		img {
			margin: 0 0.5rem;
			width: 30px;
			height: 30px;
		}
	}

	p {
		font-size: 1.4rem;
	}
	a {
		&:hover,
		&:active {
			color: white;
			text-decoration: underline;
		}
	}
}
